<h1>My tasks</h1>

<ul id="tasks">
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <i class="fa fa-check-square-o"></i>
      <% else %>
        <i class="fa fa-square-o"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %>
      ·
      <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure to delete #{task.title}" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "Add a new Task", tasks_new_path %>
